.request-button{
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 120px;
    font-weight: 300;
    cursor: pointer;
transition: opacity 1s;
    
}

.request-button:hover{
    background-color: rgb(80, 80, 80);
    color: black;
    opacity: 0.8;
    transition: background-color 1s, color 1s;
    opacity: 0.8;

}

.request-button:active{

background-color: rgb(160, 160, 160);
color: rgb(136, 37, 37);
transition: background-color 1s,color 1s;
opacity: 0.8;
}

.amozon-btn{

    background-color: yellow;
    color: black;
    border: none;
    height: 40px;
    width: 210px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
}

.sign-up-btn{

    background-color: green;
    color: white;
    border: none;
    height: 40px;
    width: 105px;
    border-radius: 7px;
    cursor: pointer;
}

.get-strt-btn{

background-color: blueviolet;
color: white;
border: none;
height: 40px;
width: 110px;
font-weight: 700;
margin-left: 30px;
margin-right: 10px;
cursor: pointer;
}

.download-btn{


background-color: white;
color: blueviolet;
border: 1px;
border-color: blueviolet;
border-style: solid;
height: 40px;
width: 110px;
font-weight: 700;
cursor: pointer;

}

.linked-btn{


background-color: blue;
color: white;
border: none;

height: 40px;
width: 290px;
font-weight: 900;
font-size: 15px;
border-radius: 20px;
margin-left: 30px;
margin-right: 10px;
cursor: pointer;

}

.linked-btn:hover{

background-color: rgb(165, 194, 236);
color: blue;
transition: background-color 1s, color 1s;
opacity: 0.8;

}

.linked-btn:active{


    background-color: rgb(8, 9, 12);
    color: rgb(255, 255, 255);
    transition: background-color 1s, color 1s;
    opacity: 0.8;
    box-shadow: 5px 5px 5px rgba(108, 108, 187);
}

.save-btn{

background-color: white;
color: blue;
border: 1px;
border-style: solid;
height: 40px;
width: 100px;
font-weight: 900;
font-size: 15px;
border-radius: 20px;
cursor: pointer;

}

.back-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
}


.next-btn{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
}

.stretch-btn{

    background-color: green;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    transition: padding-top 1s , padding-down 1s,
    padding-left 1s , padding-right 1s
    ;

}

.get-strt-btn:hover{
 background-color: rgb(164, 199, 164);
 color: green;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.get-strt-btn:active{
    background-color: black;
    color: white;
}
.shadow-btn{
    
    background-color: green;
    color: white;
    border-style: solid;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0 0 0 0.3);
}

.shadow-btn:hover{
    box-shadow: 5px 5px 5px rgb(90, 139, 44);
transition: 0.1;}

.shadow-btn:active{
    background-color: yellow;
    color: cadetblue;
}